*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  background-image: url(./image/background.jpg);
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.todo-app {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid gray;
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  box-shadow: 1px -1px 58px 10px rgba(0,0,0,0.75);
}


.text-data{
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: larger;
}

.dash-board {
  justify-content: center;
  border: 1px solid gray;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8px;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 25px;
  color: white;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.dash-board-name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px;
  background-color: transparent;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 30px;
  color: white;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}


.form-add-todo {
  /* background-color: yellow; */
  padding: 10px 16px;
  display: flex;
  gap: 4px;
}

.form-add-todo > input {
  flex-grow: 8;
  font-size: 30px;
  /* padding: 2px 4px; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-add-todo > button {
  flex-grow: 2;
  background-color: rgba(255, 255, 255, 0.5);
  color: black ;
  padding: 14px 20px;
  margin: 7px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid black;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.form-add-todo > button:hover{
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
}
.form-add-todo > button:active {
  box-shadow: none;
  transform: translateY(0);
}

.form-add-todo > button:disabled {
  pointer-events: none;
}

.todo-container{
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.todo-item {
  background-color: transparent;
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  font-size: larger;
  justify-content: center;
  align-items: center;
  border-bottom: 2px dashed black;
}

.todo-item p {
  color: white;
  width: 80%;
  white-space: nowrap;
  flex-grow: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: 35px;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);

}

.todo-item .btn-group {
  display: flex;
  gap: 5px;
}

.todo-item .btn-group a {
  border: 1px solid silver;
  padding: 2px 4px;
  cursor: pointer;
}

.todo-item-button{
  display: flex;
  gap: 4px;
}

.todo-item-button > button {
  font-size: 15px;
  cursor: pointer;
  padding: 4px 6px;
  display: flex;
  gap: 6px;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 70px ;
  will-change: transform;
  font-size: 15px;
  color: black;
  box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
}

.todo-item-button > button:hover {
  color: #fff;
  font-size: 20px;
  background-color: #1A1A1A;
  transform: translateY(-2px);
  box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
}

.todo-item-button > button:active {
  box-shadow: none;
  transform: translateY(0);
}

.todo-item-button > button:disabled {
  pointer-events: none;
}

.todo-item-save{
  display: flex;
  gap: 4px;
}

.todo-item-save> input{
  width: 300px;
  font-size: 30px;
}

.todo-item-save> button{
  font-size: 15px;
  cursor: pointer;
  padding: 4px 6px;
  display: flex;
  gap: 6px;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 70px ;
  will-change: transform;
  font-size: 15px;
  color: black;
  box-shadow: 6px 6px 5px -2px rgba(0,0,0,0.75);
}